/* button color for primary button */
/* equal to 14px */
/* new cars related */
.bold-font {
  font-family: 'ProximaNova-Semibold';
}
.nav-tablecell {
  list-style: none;
  display: table-cell;
  width: 1%;
  text-align: center;
  vertical-align: middle;
  float: none;
}
.sticky-filters-nav {
  background: #eee;
  margin-top: 51px;
  padding: 0;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  -webkit-box-shadow: 0 0 5px #c7c7c7;
  -moz-box-shadow: 0 0 5px #c7c7c7;
  box-shadow: 0 0 5px #c7c7c7;
  z-index: 900;
}
.sticky-filters-nav .dropdown-toggle {
  outline: 0;
}
@media (max-width: 768px) {
  .sticky-filters-nav {
    line-height: 28px;
  }
}
.sticky-filters-nav input[type=checkbox],
.sticky-filters-nav input[type=radio] {
  margin: 0 4px 0 0;
  top: 0;
}
.filters-nc-btn-group {
  color: #7c7c7c;
  font-size: 13px;
}
.filters-nc-btn-group .btn-group {
  margin-right: 0;
}
.filters-nc-btn-group .dropdown-list-ul {
  border-radius: 0;
  min-width: 220px;
}
.filters-nc-btn-group .dropdown-list-ul .dropdown-header {
  padding: 3px 10px;
}
.filters-nc-btn-group .dropdown-list-ul li a,
.filters-nc-btn-group .dropdown-list-ul li label {
  padding: 5px 10px;
  display: block;
  font-size: 13px;
  color: #7c7c7c;
  font-family: 'ProximaNova-Semibold';
  font-weight: normal;
}
.filters-nc-btn-group .dropdown-list-ul li a:hover,
.filters-nc-btn-group .dropdown-list-ul li label:hover,
.filters-nc-btn-group .dropdown-list-ul li a:active,
.filters-nc-btn-group .dropdown-list-ul li label:active,
.filters-nc-btn-group .dropdown-list-ul li a:focus,
.filters-nc-btn-group .dropdown-list-ul li label:focus {
  background: #e6e6e6;
}
.filters-nc-btn-group .dropdown-list-ul li .divider {
  margin: 9px;
}
.filters-nc-btn-group .dropdown-list-ul li.active a,
.filters-nc-btn-group .dropdown-list-ul li.active label {
  background: #eee;
}
.filters-nc-btn-group .btn-group .filters-dropdown {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: none;
  border-right: 1px solid #d9d9d9;
  border-top: none;
  line-height: 42px;
  padding: 0 15px;
}
.filters-nc-btn-group .btn-group .dropdown-menu {
  margin-top: 0;
}
.filters-nc-btn-group .btn-group ul.dropdown-menu {
  border: none;
  left: -60px;
}
.filters-nc-btn-group .dropdown-backdrop {
  position: relative;
}
.filters-nc-btn-group .dropdown.open .ddm-icon::before,
.filters-nc-btn-group .btn-group.open .ddm-icon::before,
.filters-nc-btn-group .down-arrow .ddm-icon::before {
  content: "\f10b";
}
.filters-label {
  font-family: 'ProximaNova-Semibold';
  color: #7c7c7c;
  border-right: 1px solid #cccccc;
  padding: 0 15px 0 0;
  line-height: 42px;
}
.filters-dropdown {
  background: none;
  border: none;
  color: #3c3c3c;
  padding: 3px 9px 1px 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 13px;
  font-family: 'ProximaNova-Semibold';
}
.filters-dropdown .btn-group.open .dropdown-toggle:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.filters-dropdown .caret {
  margin-left: 10px;
}
.filters-dropdown .ddm-icon {
  font-size: 1em;
  margin-left: 6px;
  top: 0;
}
.nav-filters-btn.dropdown-menu::after {
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 88px;
  position: absolute;
  top: -6px;
}
.search-in-ddm {
  margin-top: 0;
}
.search-in-ddm input {
  border: 1px solid #eee;
  margin: 4px 0 5px 10px;
  width: 90%;
}
.search-in-ddm label:hover {
  background: none;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding: 4px 0 4px 25px;
  width: 100%;
  border: 1px solid #eaeaea;
}
.left-inner-addon .focus-search-back {
  left: 0;
  font-size: 1.8em;
  top: 0;
  line-height: 48px;
  pointer-events: auto;
}
.left-inner-addon i {
  position: absolute;
  top: 10px;
  pointer-events: none;
  left: 16px;
}
.scrollable-menu {
  height: auto;
  max-height: 210px;
  overflow-x: hidden;
}
.ddm-devider {
  margin: 5px 0 !important;
  border-top: 1px dotted #aaa;
}
.vap-breadcrumb {
  margin: 50px 0 18px 55px;
}
.nc-snb .ncHeading {
  margin-left: 0px;
}
@media (max-width: 992px) {
  .nc-snb .ncHeading {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .nc-snb .ncHeading {
    margin-top: 90px;
  }
}
.nc-snb div.snbCard > div:first-child {
  margin-bottom: 30px;
  padding-top: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.nc-snb div.snbCard .nc-image {
  height: 200px;
  background: url('/images/car/newcars/ciaz.jpg') no-repeat;
  background-size: contain;
  background-position-x: -25px;
}
.nc-snb div.snbCard .nc-desc {
  padding: 15px;
}
.nc-snb div.snbCard .nc-desc h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: #3c3c3c;
}
.nc-snb div.snbCard .nc-desc .nc-price {
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  padding-bottom: 3px;
}
.nc-snb div.snbCard .nc-desc .nc-price i.icon-rupee-symbol {
  font-size: 23px;
  margin-left: -5px;
}
.nc-snb div.snbCard .nc-desc .nc-price h2 {
  margin-bottom: 0px;
}
.nc-snb div.snbCard .nc-desc .nc-price .nc-src {
  font-size: 12px;
  margin: -5px 0 3px 0px;
  color: #7c7c7c;
}
.nc-snb div.snbCard .nc-desc .nc-features {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0px;
}
.nc-snb div.snbCard .nc-desc .nc-features li {
  font-size: 14px;
  line-height: 24px;
  padding: 0 0px 0 0px;
  color: #3c3c3c;
}
.nc-snb div.snbCard .nc-desc .nc-features li:nth-child(4) {
  text-align: center;
}
.nc-snb div.snbCard .nc-desc .nc-features .static {
  display: block;
  font-size: 10px;
  color: #7c7c7c;
}
@media (max-width: 480px) {
  .nc-snb div.snbCard .nc-desc .nc-features .static {
    font-size: 9px;
  }
}
.nc-snb div.snbCard .nc-desc .cardButton {
  width: 132px;
  height: 32px;
}
.nc-snb .calculator {
  float: left;
  background-color: #ffffff;
  border: 1px solid #ddd;
  height: auto;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 0px;
  /*.formElem {
			margin-top: 10px;
		}*/
}
@media (max-width: 768px) {
  .nc-snb .calculator {
    padding-top: 20px;
  }
}
.nc-snb .calculator .dropDownCalc {
  background: transparent;
  margin-top: 6px;
  width: 100%;
  border: transparent;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 0px;
  /*background-color: @white;*/
  padding-right: 0px;
}
.nc-snb .calculator .carImageCalc {
  margin-bottom: 20px;
}
.nc-snb .calculator .getPriceButton {
  width: 100%;
}
.nc-snb .calculator .dropDownList {
  height: auto;
  max-height: 200px;
  overflow: auto;
  margin-left: 15px;
  width: 87%;
}
.nc-snb .calculator i {
  float: right;
}
.nc-snb .calculator .carInfo li {
  list-style-type: none;
  line-height: 32px;
}
.nc-snb .calculator .carInfo .filterBar li {
  padding-left: 0px;
}
.nc-snb .calculator .carInfo .filterBar li input {
  padding-top: 0px;
}
.nc-snb .calculator .carInfo .filterBar li:last-child {
  padding-right: 0px;
}
@media (max-width: 768px) {
  .nc-snb .calculator .carInfo .filterBar ul {
    padding-left: 0px;
  }
  .nc-snb .calculator .carInfo .filterBar li:nth-child(2) {
    padding-left: 5px;
  }
}
.nc-snb .calculator .carInfo .filterBar .inText {
  font-family: 'ProximaNova-Semibold';
  margin-top: 10px;
}
.nc-snb .calculator .carInfo .filterBar button {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #7c7c7c;
}
@media (max-width: 480px) {
  .nc-snb .calculator .carInfo .filterBar button {
    font-size: 12px;
  }
}
.nc-snb .calculator .carInfo .filterBar span {
  font-weight: bold;
}
@media (max-width: 365px) {
  .nc-snb .calculator .carInfo .filterBar span {
    font-size: 14px;
  }
}
.nc-snb .calculator .carInfo .filterBar input {
  color: #7c7c7c;
}
.nc-snb .calculator .carInfo .detailsCalc {
  margin-top: 110px;
}
@media (max-width: 768px) {
  .nc-snb .calculator .carInfo .detailsCalc {
    padding-left: 0px;
  }
}
.nc-snb .calculator .carInfo .detailsCalc li {
  padding-left: 0px;
  padding-right: 0px;
}
.nc-snb .calculator .carInfo .detailsCalc li span {
  font-size: 14px;
  color: #3c3c3c;
}
@media (max-width: 480px) {
  .nc-snb .calculator .carInfo .detailsCalc li span {
    font-size: 12px;
  }
}
.nc-snb .calculator .carInfo .detailsCalc li:nth-child(-n+3) {
  border-bottom: 1px solid #ddd;
}
.nc-snb .calculator .carInfo .detailsCalc li:nth-child(4) {
  font-family: 'ProximaNova-Semibold';
}
.nc-snb .calculator .carInfo .detailsCalc li:nth-child(4) span:first-child {
  word-wrap: break-word;
  display: inline-block;
  width: 50%;
  line-height: 17px;
}
.nc-snb .calculator .carInfo .detailsCalc .amount {
  float: right;
}
.nc-snb .calculator .carInfo .detailsCalc .amount i {
  float: left;
  font-size: 14px;
}
.nc-snb .calculator .carInfo .calcButtons {
  margin-top: 20px;
}
.nc-snb .calculator .carInfo .calcButtons button {
  height: 45px;
  width: 45%;
  margin-top: 25px;
  margin-left: 40px;
}
.nc-snb .calculator .carInfo .calcButtons .dealerOffer {
  width: 35%;
}
@media (max-width: 768px) {
  .nc-snb .calculator .carInfo .calcButtons .dealerOffer {
    width: 100%;
    margin-left: 0px;
  }
}
.nc-snb .calculator .carInfo .calcButtons .priceAnother {
  width: 54%;
  /*margin-left: 130px;*/
  white-space: pre-wrap;
}
@media (max-width: 768px) {
  .nc-snb .calculator .carInfo .calcButtons .priceAnother {
    width: 100%;
    margin-left: 0px;
  }
}
.nc-snb .padding20 {
  padding-top: 20px;
}
.nc-snb .formCalc span:first-child {
  font-family: 'ProximaNova-Semibold';
  margin-left: 13px;
}
.nc-snb .formCalc .formElem:nth-child(-n+5) {
  /*margin-top: 20px;*/
}
.nc-snb .formCalc .formElem:nth-child(-n+5) button {
  color: #7c7c7c;
}
.nc-snb .formCalc .getPriceButton {
  margin-top: 20px;
  color: #ffffff;
}
.nc-snb .formCalc .spacing {
  margin-top: 16px;
}
.nc-snb .formCalc .uline-ph {
  top: 30px;
}
.nc-snb .formCalc .txt-focus .uline-ph {
  top: 14px;
}
.nc-snb .noPadding {
  padding-left: 0px;
  padding-right: 0px;
}
.nc-snb .noPadding .spacing {
  margin-top: 16px;
}
.nc-snb .filterBar li:nth-child(2) {
  padding-left: 0px;
}
.nc-snb .snbPageButtons button {
  height: 45px;
  width: 100%;
  margin-top: 15px;
}
/* MIN-MAX Select */
.min-max-select .selected-budget {
  margin: 0;
  padding: 0;
  display: none;
}
.min-max-select .selected-budget li {
  display: inline-block;
  font-family: 'ProximaNova-Regular';
  font-size: 0.9em;
}
.min-max-select .selected-budget li label {
  margin-bottom: 0;
  color: #000;
  cursor: pointer;
}
.min-max-select .selected-budget li label i {
  position: relative !important;
  margin-right: -4px;
  top: 2px !important;
  left: 0 !important;
}
.min-max-select .selected-budget li:first-child::after {
  position: relative;
  content: '-';
  font-size: 2em;
  line-height: 0;
  margin-left: 6px;
  font-family: 'ProximaNova-Light';
}
.min-max-select .budget-value-selected b {
  display: none;
}
.min-max-select .budget-value-selected .selected-budget {
  display: block;
}
.min-max-select .dropdown a {
  background: #ffffff;
  border: 1px solid #ddd;
  color: #7c7c7c;
  font-size: 1em;
  padding: 8px 10px;
  display: block;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.min-max-select .dropdown a .auto-suggest-budget {
  position: absolute;
  right: 5px;
  top: 10px;
}
.min-max-select .dropdown a b .icon-rupee-symbol {
  font-size: 0.8em;
}
.min-max-select .dropdown .min-max-input {
  padding: 7px 10px !important;
  float: left;
  width: 100%;
  margin: 0;
  box-shadow: 0px -1px 1px 0px #ccc inset;
}
.min-max-select .dropdown .min-max-input li {
  padding: 0 !important;
  display: inline-block;
  width: 50%;
  float: left;
}
.min-max-select .dropdown .min-max-input li:hover {
  background: none;
}
.min-max-select .dropdown .min-max-input label {
  display: block;
  cursor: pointer;
}
.min-max-select .dropdown .min-input {
  border-right: 1px solid #ddd;
}
.min-max-select .dropdown .max-input {
  text-align: right;
}
.min-max-select .dropdown .min-input,
.min-max-select .dropdown .max-input {
  margin-bottom: 0;
  color: #7c7c7c;
}
.min-max-select .min-values,
.min-max-select .max-values {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.min-max-select .min-values li,
.min-max-select .max-values li {
  display: block;
  padding: 8px 10px;
  font-size: 0.8em;
}
.min-max-select .min-values li:hover,
.min-max-select .max-values li:hover {
  background: #eee;
}
.min-max-select .dropdown-menu {
  padding: 0 !important;
}
@media (max-width: 767px) {
  .min-max-select .dropdown-menu {
    width: 100%;
  }
}
.min-max-select .budget-value {
  display: none;
}
.min-max-select .value-selected .value-lbl {
  font-family: 'ProximaNova-Regular';
  color: #7c7c7c;
  font-size: 0.8em;
  display: block;
  margin-top: -5px;
}
.min-max-select .value-selected .budget-value {
  display: block;
  margin-top: -4px;
  margin-bottom: -6px;
  font-family: 'ProximaNova-Semibold';
  color: #000;
  font-size: 0.9em;
}
