/*
  Icon Font: quikr-icons
*/

@font-face {
  font-family: "quikr-icons";
  src: url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.eot");
  src: url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.eot?#iefix") format("embedded-opentype"),
       url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.woff") format("woff"),
       url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.ttf") format("truetype"),
       url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.svg#quikr-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "quikr-icons";
    src: url("./quikr-icons_e172c9843c68226c457ff9d41ab64691.svg#quikr-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-apple-store-icon:before,
.icon-arrows_check:before,
.icon-arrows_circle_minus:before,
.icon-arrows_circle_plus:before,
.icon-arrows_circle_remove:before,
.icon-arrows_down:before,
.icon-arrows_expand:before,
.icon-arrows_hamburger-2:before,
.icon-arrows_left:before,
.icon-arrows_remove:before,
.icon-arrows_right:before,
.icon-arrows_up:before,
.icon-basic-call:before,
.icon-basic-chat:before,
.icon-basic-chat-filled:before,
.icon-basic-description:before,
.icon-basic-details:before,
.icon-basic-noFikar:before,
.icon-basic-reply:before,
.icon-basic-user1:before,
.icon-basic_alert:before,
.icon-basic_bookmark:before,
.icon-basic_clessidre:before,
.icon-basic_clock:before,
.icon-basic_exclamation:before,
.icon-basic_eye:before,
.icon-basic_gear:before,
.icon-basic_geolocalize-01:before,
.icon-basic_gunsight:before,
.icon-basic_hamburger:before,
.icon-basic_heart:before,
.icon-basic_heart_filled:before,
.icon-basic_home:before,
.icon-basic_lock:before,
.icon-basic_lock_open:before,
.icon-basic_magnifier:before,
.icon-basic_paperplane:before,
.icon-basic_picture:before,
.icon-basic_question:before,
.icon-basic_quikr_bike:before,
.icon-basic_quikr_car:before,
.icon-basic_quikr_truck:before,
.icon-basic_share:before,
.icon-basic_star:before,
.icon-basic_todo:before,
.icon-basic_todo_txt:before,
.icon-basic_trashcan:before,
.icon-calendar:before,
.icon-cycle:before,
.icon-design:before,
.icon-drawing-brush:before,
.icon-email-logo:before,
.icon-facebook-logo:before,
.icon-filter:before,
.icon-fuel:before,
.icon-googleplus-logo:before,
.icon-grid-view:before,
.icon-icon-basic_eye:before,
.icon-insurance:before,
.icon-list-view:before,
.icon-meter:before,
.icon-mouse-pointer:before,
.icon-msp_icon:before,
.icon-pen1:before,
.icon-people:before,
.icon-play-store-icon:before,
.icon-pricemeter:before,
.icon-quikr-verified:before,
.icon-rotate:before,
.icon-rupee-symbol:before,
.icon-seat:before,
.icon-siderArrow:before,
.icon-spare-parts:before,
.icon-steering:before,
.icon-trend-increase:before,
.icon-trends-logo:before,
.icon-tweet:before,
.icon-twitter-logo:before,
.icon-whatsapp-logo:before,
.icon-windows-store-icon:before,
.icon-yahoo:before {
  display: inline-block;
  font-family: "quikr-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-apple-store-icon:before { content: "\f100"; }
.icon-arrows_check:before { content: "\f101"; }
.icon-arrows_circle_minus:before { content: "\f102"; }
.icon-arrows_circle_plus:before { content: "\f103"; }
.icon-arrows_circle_remove:before { content: "\f104"; }
.icon-arrows_down:before { content: "\f105"; }
.icon-arrows_expand:before { content: "\f106"; }
.icon-arrows_hamburger-2:before { content: "\f107"; }
.icon-arrows_left:before { content: "\f108"; }
.icon-arrows_remove:before { content: "\f109"; }
.icon-arrows_right:before { content: "\f10a"; }
.icon-arrows_up:before { content: "\f10b"; }
.icon-basic-call:before { content: "\f10c"; }
.icon-basic-chat:before { content: "\f10d"; }
.icon-basic-chat-filled:before { content: "\f10e"; }
.icon-basic-description:before { content: "\f10f"; }
.icon-basic-details:before { content: "\f110"; }
.icon-basic-noFikar:before { content: "\f111"; }
.icon-basic-reply:before { content: "\f112"; }
.icon-basic-user1:before { content: "\f113"; }
.icon-basic_alert:before { content: "\f114"; }
.icon-basic_bookmark:before { content: "\f115"; }
.icon-basic_clessidre:before { content: "\f116"; }
.icon-basic_clock:before { content: "\f117"; }
.icon-basic_exclamation:before { content: "\f118"; }
.icon-basic_eye:before { content: "\f119"; }
.icon-basic_gear:before { content: "\f11a"; }
.icon-basic_geolocalize-01:before { content: "\f11b"; }
.icon-basic_gunsight:before { content: "\f11c"; }
.icon-basic_hamburger:before { content: "\f11d"; }
.icon-basic_heart:before { content: "\f11e"; }
.icon-basic_heart_filled:before { content: "\f11f"; }
.icon-basic_home:before { content: "\f120"; }
.icon-basic_lock:before { content: "\f121"; }
.icon-basic_lock_open:before { content: "\f122"; }
.icon-basic_magnifier:before { content: "\f123"; }
.icon-basic_paperplane:before { content: "\f124"; }
.icon-basic_picture:before { content: "\f125"; }
.icon-basic_question:before { content: "\f126"; }
.icon-basic_quikr_bike:before { content: "\f127"; }
.icon-basic_quikr_car:before { content: "\f128"; }
.icon-basic_quikr_truck:before { content: "\f129"; }
.icon-basic_share:before { content: "\f12a"; }
.icon-basic_star:before { content: "\f12b"; }
.icon-basic_todo:before { content: "\f12c"; }
.icon-basic_todo_txt:before { content: "\f12d"; }
.icon-basic_trashcan:before { content: "\f12e"; }
.icon-calendar:before { content: "\f12f"; }
.icon-cycle:before { content: "\f130"; }
.icon-design:before { content: "\f131"; }
.icon-drawing-brush:before { content: "\f132"; }
.icon-email-logo:before { content: "\f14a"; }
.icon-facebook-logo:before { content: "\f133"; }
.icon-filter:before { content: "\f134"; }
.icon-fuel:before { content: "\f135"; }
.icon-googleplus-logo:before { content: "\f14b"; }
.icon-grid-view:before { content: "\f136"; }
.icon-icon-basic_eye:before { content: "\f14e"; }
.icon-insurance:before { content: "\f137"; }
.icon-list-view:before { content: "\f138"; }
.icon-meter:before { content: "\f139"; }
.icon-mouse-pointer:before { content: "\f13a"; }
.icon-msp_icon:before { content: "\f13b"; }
.icon-pen1:before { content: "\f13c"; }
.icon-people:before { content: "\f13d"; }
.icon-play-store-icon:before { content: "\f13e"; }
.icon-pricemeter:before { content: "\f150"; }
.icon-quikr-verified:before { content: "\f140"; }
.icon-rotate:before { content: "\f141"; }
.icon-rupee-symbol:before { content: "\f142"; }
.icon-seat:before { content: "\f143"; }
.icon-siderArrow:before { content: "\f151"; }
.icon-spare-parts:before { content: "\f144"; }
.icon-steering:before { content: "\f145"; }
.icon-trend-increase:before { content: "\f146"; }
.icon-trends-logo:before { content: "\f14c"; }
.icon-tweet:before { content: "\f147"; }
.icon-twitter-logo:before { content: "\f148"; }
.icon-whatsapp-logo:before { content: "\f14d"; }
.icon-windows-store-icon:before { content: "\f149"; }
.icon-yahoo:before { content: "\f152"; }
